:root {
    --primary-text-color: #212121;
    --navigation-but-color:  #2196F3;
    --secondary-text-color: #757575;
    
}


ul {
    list-style: none;
}.page {
    background-color: white;

}

.logo {
    color: #000000;
}
.logo:hover
{
    color:var(--navigation-but-color);

}
/* SITE NAV */
.site-nav a {
    color: var(--primary-text-color);
}
.site-nav a:focus,
.site-nav a:hover
 {
    color:var(--navigation-but-color);
}

.site-nav .current {
    color:var(--navigation-but-color);

}

/* AUTH NAV */
.auth-nav a {
    color: var(--secondary-text-color);
    ;
}
.auth-nav a:focus,
.auth-nav a:hover
 {
    color:var(--navigation-but-color);
}

/*COPYCOLOR*/
.section-title {
    color: var(--primary-text-color);

}
/* HERO */
.hero {
    background: #2F303A;
    color: #ffffff;
}
/*SECTION 2*/
.section2-list p {
    color: var(--secondary-text-color);
    }

    /*ABOUT US */

    /*OUR TEAM */
    .ourteam p {
        color: var(--secondary-text-color);
        }

        /*FOOTER */
        .footer {
            color: #ffffff;
            background: #2F303A;
        }
        .footer-nav a {
            color: rgba(255, 255, 255, 0.6);
        }
        .logo2 {
            color: #ffffff;
        }
        /*BUTTON*/
        .button {
         color:#ffffff;
         background-color: #2196F3;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
         border-radius: 4px;
                }



                                /*PORTFOLIO*/

    .portfolio p {
        color: var(--secondary-text-color);

    } 







                         